<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="OneApp.IGCC.CommunicationService.IGCCService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/igcc/service"/>
          </baseAddresses>
        </host>
        
        <endpoint address="net.tcp://localhost/igcc/service" binding="netTcpBinding" bindingConfiguration="IGCCNetTcpBinding" contract="OneApp.IGCC.CommunicationService.IIGCC"/>

      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="IGCCNetTcpBinding" maxReceivedMessageSize="512000" sendTimeout="00:05:00">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IGCCClient" maxReceivedMessageSize="512000" sendTimeout="00:05:00"/>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IExternal" maxReceivedMessageSize="512000" sendTimeout="00:5:00"/>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding name="IGCCHTTPBinding" maxBufferSize="100" maxReceivedMessageSize="100"></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost/igcc/service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGCCClient" contract="OneApp.IGCC.CommunicationService.IIGCC" name="NetTcpBinding_IGCCClient"></endpoint>
      <endpoint address="net.pipe://localhost/dsa/external" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IExternal" contract="DSAExternalServiceProxy.IExternal" name="NetNamedPipeBinding_IExternal"></endpoint>
    </client>
  </system.serviceModel>
</configuration>
